
@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("eot"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"], .content-icon {
  font-family: "iconfont";
  speak: none;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  line-height: 1;
}

.icon-angle-down:before {
  content: "";
}

.icon-angle-left:before {
  content: "";
}

.icon-angle-right:before {
  content: "";
}

.icon-angle-up:before {
  content: "";
}

.icon-caret-down:before {
  content: "";
}

.icon-caret-left:before {
  content: "";
}

.icon-caret-right:before {
  content: "";
}

.icon-caret-up:before {
  content: "";
}

.icon-check-square-o:before {
  content: "";
}

.icon-check-square:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-circle-o:before {
  content: "";
}

.icon-clipboard:before {
  content: "";
}

.icon-close:before {
  content: "";
}

.icon-cross:before {
  content: "";
}

.icon-dot-circle-o:before {
  content: "";
}

.icon-female:before {
  content: "";
}

.icon-graduation-cap:before {
  content: "";
}

.icon-icon-content-paste:before {
  content: "";
}

.icon-info-with-circle:before {
  content: "";
}

.icon-male:before {
  content: "";
}

.icon-map-marker:before {
  content: "";
}

.icon-minus:before {
  content: "";
}

.icon-paper-plane-o:before {
  content: "";
}

.icon-paper-plane:before {
  content: "";
}

.icon-pencil-square:before {
  content: "";
}

.icon-pencil:before {
  content: "";
}

.icon-pie-chart:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-shield:before {
  content: "";
}

.icon-shield2:before {
  content: "";
}

.icon-square-o:before {
  content: "";
}

.icon-star-o:before {
  content: "";
}

.icon-star:before {
  content: "";
}

.icon-users:before {
  content: "";
}

.icon-warning:before {
  content: "";
}
